// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$colors: (
	--primary: #0163aa,
	--white: #fff,
	--gray: #fbfbfb,
	--gray-other: #fafafa,
	--text: #444,
	--text-p: #555,
	--text-afeter: #eee,
	--disabled: #ddd,
	--text-two: #333,
	--text-gray: #888,
	--text-a-hover: #e9c31e,
	--body: #f6f6f6,
	--red: #ff0000,
	--error: #d60000,
	--dark: #000,
	--opacity-black: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
	--opacity-white: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9))
);

:root {
	@each $key, $value in $colors {
		#{$key}: #{$value};
	}
}

@each $color in map-keys($colors) {
	.kot-color#{$color} {
		color: map-get($colors, #{$color});
	}
}
